*{
    font-family: 'Comic Sans MS', cursive; 
}

body{
    margin: 0;
    background-color: rgb(47, 47, 47);
    color: white;
    display: flex;
    justify-content: center;
}
body > .container{
    position: absolute;
    padding: 16px;
    display: flex;
    gap: 32px;
}
body > .container > h4{
    margin: 0;    
}
body > .container > input{
    margin-bottom: 32px;    
}
