*{
    font-family: 'Comic Sans MS', cursive; 
}
body{
    margin: 0;
    background-color: rgb(47, 47, 47);
    color: white;
    display: flex;
    justify-content: center;
}
body > div{
    position: absolute;
    padding: 16px;
}
body > div > h4{
    margin: 0;    
}
body > div > input{
    margin-bottom: 32px;    
}
